.single-tour{
    width:900px;
    height:600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px 5px #aaaaaa; 
    margin-bottom: 50px;
}
.image{
    height: 300px;
    width: 900px;
}
.tour-info{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.tour-price{
color: crimson;
}
.tour-city{
    color: blue;
    font-size: 19px;
    margin-left: 25px;
    }
.readmore{
text-decoration: underline;
border-style: hidden;
font-weight: bold;
color: forestgreen;
font-size:18px ;
cursor: pointer;
}
.delete-btn{
border-radius: 25px;
background-color: brown;
color: cornsilk;
padding: 10px;
font-size: 15px;
font-weight: bolder;
width: 200px;
cursor: pointer;
margin-left: 330px;
}